[Unit]
Description=Jackie Strategy DCA

[Service]
WorkingDirectory=/root/freqtrade
ExecStart=/root/freqtrade/.venv/bin/freqtrade trade --config /root/freqtrade/user_data/strategies/config_live_JackieStrategyDCA.json
Restart=always
RestartSec=10
Type=notify
NotifyAccess=all
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=JackieStrategyDCA
User=root
Group=root
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target